{
  "tabWidth": 2,
  "endOfLine": "lf",
    "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "semi": true,
  "parser": "babel",
  "bracketSpacing": true,
  "arrowParens": "avoid"
}
